body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-size: cover;
	}
      
form{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding:40px;
	background:rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: rgba(0,0,0,.5);
	border-style: groove;
	}

h1{
	text-align: center;
	padding-top: 40px;
	}

i{
	color: white;
	}

input{
	margin: 0 0 30px;
	padding:10px 10px;
	font-size: 16px;
	text-align: center;
	}

label{
	color:white;
	}

.submit_btn{
	text-align: center;
	}


/*student_record table*/
table {
	border-collapse: collapse;
	width: 100%;
	color: #d96459;
	font-family: monospace;
	font-size: 25px;
	text-align:left;
	}
 
th {
	background-color: #d96459;
	color: white;
	}

tr:nth-child(even) {
	background-color: grey;
	}